<br />
<div class="panel panel-default col-md-2 pull-left">
<div class="panel-body">
<ul class="nav nav-pills nav-stacked nav-box">
<li><a href="/favourites">Favourites</a></li>
<li><a class="active" href="/">Search</a></li>
</ul>
</div>
</div>
<div ng-controller="albumController">
<div class="col-md-9 pull-right" >
<div class="row">
<div class="col-sm-6 col-md-4" ng-repeat="album in albums.items">
<div class="thumbnail">
<a href="/tracks" class="thumbnail btn" ng-click="clickAlbumEvent($event)">
<img class="artist-images" ng-src={{album.images[1].url}} alt={{album.id}} style="width:304px;height:228px">
</a>
<div class="caption">
<p>
<a class="linker">{{album.name}}</a> 
<a class="btn col-sm-6 btn-primary pull-right"  role="button" data={{album}}  ng-click="clickAddtoFavouriteAlbumsEvent($event)">Add</a>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div>