<br />
<div class="panel panel-default col-md-2 pull-left">
<div class="panel-body">
<ul class="nav nav-pills nav-stacked nav-box">
<li><a href="/favourites">Favourites</a></li>
<li><a class="active" href="/">Search</a></li>
</ul>
</div>
</div>
<div class="col-md-9 pull-right" ng-controller="favouritesController">


<ul class="list-group">
<li class="list-group-item" style="height:425px">
<!--the Artists -->
<h3>Artists</h3>
<hr />
<div class="col-sm-6 col-md-4" ng-repeat="artist in performers">
<div class="thumbnail">
<a href="/albums" class="thumbnail btn" ng-click="clickEvent($event)">
<img ng-src={{artist.images[0].url}} alt="Mountain View" style="width:304px;height:228px">
<a>
<div class="caption">
<p class="album-names" >{{artist.name}}</p>
</div>
</div>
<div>
</li>
<li class="list-group-item" style="height:425px">
<!--the Albums -->
<h3>Albums</h3>
<hr />
<div class="col-sm-6 col-md-4" ng-repeat="album in albums">
<div class="thumbnail">
<a href="/tracks" class="thumbnail btn" ng-click="clickAlbumEvent($event)">
<img class="artist-images" ng-src={{album.images[1].url}} alt={{album.id}} style="width:304px;height:228px">
<a>
<div class="caption">
<p class="album-names" >{{album.name}}</p>
</div>
</div>
<div>
</li>
<li class="list-group-item" style="height:425px">
<!--the Tracks-->
<h3>Tracks</h3>
<hr />
<ul class="list-group ">
<li class="col-sm-12 list-group-item" ng-repeat="track in tracks" style="height:50px">
<h4 class="album-names col-md-1"> {{track.track_number}}</h4>
<h5 class="album-names col-md-4"> {{track.name}}</h5>
</li>
</ul>
</li>
</ul>

</div>