<br />
<div class="panel panel-default col-md-2 pull-left">
<div class="panel-body">
<ul class="nav nav-pills nav-stacked nav-box">
<li><a href="/favourites">Favourites</a></li>
<li><a class="active" href="/">Search</a></li>
</ul>
</div>
</div>
<div class="col-md-9 pull-right" ng-controller="spotifyController">
<form class="form-search">
<input type="text" ng-model="keywords" class="input-medium search-query search-box col-md-10" placeholder="Keywords...">
<button href="/" type="submit" class="btn btn-primary search-button search" ng-click="search()"> Search</button>
</form>
<br /> 
<div class="row">
<div class="col-sm-6 col-md-4" ng-repeat="artist in performers.artists.items">
<div class="thumbnail">
<a href="/albums" class="thumbnail btn" ng-click="clickEvent($event)">
<img class="artist-images" ng-src={{artist.images[1].url}} alt={{artist.id}} style="width:304px;height:228px"> 
</a>    
<div class="caption">
<p>
<a class="linker">{{artist.name}}</a> 
<a class="btn btn-primary pull-right"  role="button" data={{artist}}  ng-click="clickAddtoFavouriteArtistsEvent($event)">Add</a>
</p>
</div>
<br />
</div>
</div>
</div>
</div>