<div ng-controller="spotifyController">
<div class="col-md-2 pull-left">
<ul class="nav nav-pills nav-stacked">
<ul class="nav nav-pills nav-stacked">
<li><a href="/favourites">Favourites</a></li>
<li><a href="/">Artists</a></li>
<li><a href="/albums">Albums</a></li>
<li><a href="/tracks">Tracks</a></li>
</ul>
</div>
<div class="col-md-10 pull-right">
<br />
<form class="form-search">
<input type="text" ng-model="keywords" class="input-medium search-query col-md-8" placeholder="Keywords...">
<button href="/" type="submit" class="btn btn-primary" ng-click="search()"> Search</button>
</form>
<br /> 
<div class="row">
<div class="col-sm-6 col-md-4" ng-repeat="artist in performers.artists.items">
<div class="thumbnail">
<a href="/albums" class="thumbnail btn" ng-click="clickEvent($event)">
<img class="artist-images" src={{artist.images[1].url}} alt={{artist.id}} style="width:304px;height:228px"> 
</a>    
<div class="caption">
<p class="album-names" >{{artist.name}}</p>
<p class="btn btn-primary"  role="button" data={{artist}}  ng-click="clickAddtoFavouriteArtistsEvent($event)">Add</p>
</div>
</div>
</div>
</div>
</div>
</div>